.background-colour {
    background-color: var(--accent);
}

.about-text {
    margin: 2rem 6rem 1rem 6rem;
}

.about-text-two {
    margin: 1rem 6rem 2rem 6rem;
}

/*Removing the link deco but making sure when someone hovers yous see its clickable*/
.about-text-two a {
    text-decoration: none;
    color: var(--heading-button-quote);
    font-weight: bold;
}

.about-text-two a:hover {
    color: var(--nav-footer-color);
}

/*No media queries necessary*/
