.header-text {
    color: var(--nav-footer-color);
    font-size: 1.3rem;
    margin-top: 4rem;
}

.tiles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tiles-head {
    text-align: center;
    margin-bottom: 2rem;
}

.about-text {
    margin: 2rem 6rem 1rem 6rem;
}

.about-text-two {
    margin: 1rem 6rem 2rem 6rem;
}

/*Removing the link deco but making sure when someone hovers yous see its clickable*/
.about-text-two a {
    text-decoration: none;
    color: var(--heading-button-quote);
    font-weight: bold;
}

.about-text-two a:hover {
    color: var(--nav-footer-color);
}

.background-colour {
    background-color: var(--accent);
}

.bg-for-footer {
    background-color: var(--accent);
}

/*Media query for mobile*/
@media screen and (max-width: 768px) {
    .tiles {
        flex-direction: column;
    }
}

