.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    /*I want the navigation bar stretching over the page with a fixed height as well*/
    width: 100vw;
    height: 3.75rem;
    padding-inline: 1rem;
    background-color: var(--nav-footer-color);
    border-radius: 0 0 1.25rem 0;
}

/*When a user hovers over the list items in the menu it changes color*/
.nav-bar a:hover {
    color: var(--heading-button-quote);
    /*border: 0.05rem solid var(--heading-button-quote);*/
    /*padding: 0.5rem;*/
    /*border-radius: 1.25rem 0;*/
}

.menu-options, .mobile-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    font-size: 1.2rem;
    text-transform: lowercase;
    gap: 4rem;
    list-style-type: none;
}

.logo {
    display: flex;
    width: 9.4rem;
    height: 3rem;
}

.welcome-text {
    color: var(--basic);
    font-weight: lighter;
    text-transform: lowercase;
    font-size: 1.2rem;
    margin-inline: 4rem;
}

.default-menu-link {
    color: var(--basic);
    text-decoration: none;
}

.active-menu-link {
    color: var(--heading-button-quote);
    text-decoration: none;
}

.toggle-menu {
    display: none;
}

/*When on mobile the menu changes to a fold out hamburger menu*/
@media screen and (max-width: 768px) {
    .menu-options {
        display: none;
    }

    .nav-bar {
        padding-left: 0;
    }

    .logo {
        margin-inline: 1rem;
    }

    .welcome-text {
        margin-inline: 0;
    }

    .toggle-menu, .toggle-menu:hover {
        display: block;
        color: var(--basic);
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding-inline: 0;
    }

    .mobile-options {
        position: absolute;
        top: 3.75rem;
        left: 0;
        z-index: 2;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        background-color: var(--nav-footer-color);
        padding: 3rem 2rem;
    }
}
