.search-button {
    max-width: 17rem;
    height: 13rem;
    padding: 1.5rem;
    margin: 2rem 4rem;
    background: var(--heading-button-quote);
    border-radius: 4rem 0rem;
    text-align: center;
}
/*When user hovers its clear you can click for good ux*/
.search-button:hover {
    background-color: var(--nav-footer-color);
}

.title {
    text-transform: uppercase;
    font-weight: lighter;
    color: var(--basic);
    margin-bottom: 1.5rem;
}

.description {
    font-size: 1.1rem;
    color: var(--basic);
}

a {
    text-decoration: none;
}

