.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /*I want the footer stretching over the page with a fixed height as well*/
    /*I need to position it fixed because on some pages there is not a lot of content when the books havent loaded yet and then footer is not on the bottom of the page*/
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 1.8rem;
    padding-inline: 1rem;
    background-color: var(--nav-footer-color);
    color: var(--basic);
    font-size: 0.75rem;
    border-radius: 1.25rem 0 0 0;
}
