.background-colour {
    background-color: var(--accent);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: 12.5rem;
    width: 31.25rem;

    margin: 2rem 1rem 0 1rem;
}

.heading {
    text-align: center;
}

.subtext {
    font-size: 1rem;
    margin: 1.2rem 0.8rem 0 0.8rem;
}

.subtext a {
    color: var(--heading-button-quote);
    font-weight: bolder;
}

.subtext a:hover {
    color: var(--nav-footer-color);
}

.error-message, .succes-message {
    font-family: Quicksand;
    font-size: 0.75rem;
    font-weight: bolder;
    color: var(--heading-button-quote);
    margin: 0.5rem;
}

.loading {
    font-family: Quicksand;
    font-size: 1rem;
    font-weight: bolder;
    color: var(--heading-button-quote);
    margin: 0.5rem;
}

.button {
    margin: 1rem;
}

/*No media queries necessary*/
