/*Globale styling: css reset*/
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap&family=Quicksand:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Quicksand", "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Poiret One", cursive;
}

.outer-container {
    display: flex;
    flex-direction: row;
}

.inner-container {

}

:root {
    --nav-footer-color: hsl(49, 19%, 62%);
    --heading-button-quote: hsl(16, 40%, 55%);
    --accent: hsla(25, 57%, 90%, 0.6);
    --basic: hsl(15, 67%, 99%);
}
